.body {
    margin: 0;
}

.nav-link {
    color: #555 !important; /* Cor dos links */
    font-weight: 500; /* Peso da fonte */
    font-size: 16px; /* Tamanho da fonte */
    padding: 8px 12px; /* Espaçamento interno dos links */
    transition: color 0.3s; /* Animação suave na cor */
}

/* Cor dos links ao passar o mouse */
.nav-link:hover {
    color: #007bff !important; /* Altere para a cor desejada */
}

/* Link ativo */
.nav-link.active {
    color: #007bff !important;
    font-weight: bold;
    border-bottom: 2px solid #007bff; /* Linha embaixo do link ativo */
}

.header-image {
    width: 100%; /* Faz a imagem ocupar toda a largura da tela */
    max-height: 600px; /* Define a altura máxima */
    position: relative;
}

.header-branco {
    width: 100%; /* Defina o tamanho conforme desejado */
    max-height: 100px;
    object-fit: cover;
    margin-top: -5.3rem; /* Define uma margem negativa para sobrepor a primeira imagem */
    position: relative; /* Manter a posição em relação ao fluxo da página */
    z-index: 2; /* Define a segunda imagem acima da primeira */

}